extends template

block content
  div #{restaurants}
  form
        br
        table#keywords(style="width:80%" align="center" cellspacing="0" cellpadding="0")
          thead(id="yelpTable")

          //- tbody
          //- each item in JSON.parse(items)
          //-   tr
          //-     td=item.name
          //-     //- td=item.pic
          //-     td
          //-       img(src=item.pic width="200" height="200")
          //-       //- img(src="https://i5.walmartimages.com/asr/8af31780-9c2f-4415-8311-4b73260fdec8_1.e6217836ba781f7a591a2762bc167e52.jpeg")
          //-     td=item.description
          //-     td=item.price 
          //-     td=item.quantity
          //-     td
          //-       .fb-item
          //-         span Quantity
          //-         br
          //-         input(type='number' name='quantity' placeholder='add amount')  
                button#sub(class='button' onclick='addToCart()') Add to cart
  script.
    getYelp()

      
